.button a:hover {
    background-color: red;
    
}

body {
    margin: 0;
    font-size: 30px;
    position: relative;
}

@media (max-width: 500px){
    body {
        font-size: 18px;
    }
}

header {
    position: relative;
    top: 0;
    width: 100%;           /*100% del Body*/
    height: 600px;
    background-image: url("BACKGROUND.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
    color: black;
    font-size: 1em;             /*1em=30px*/
}

@media(max-width: 500px) {
    header {
        height: 400px;
    }
}

header h1 {
    position: relative;
    font-size: 3em;       /*3em=3*30px=90px*/
    z-index: 1;
}

@media(max-width: 500px){
    header h1{
        text-align: center;
    }
}

#overlay {
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

header nav {
    width: 60%;                     /*60% della larghezza dell'Header*/
    height: 5%;                     /*5% dell'altezza dell'Header, cioè 0.05*600px=30px*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    top: 20px;
    right: 5px;
    background-color: lightgrey;
    border-radius: 50px;
    font-size: 1em;                /*1em=30px*/
    padding: 3px;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: red;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25%;       /*25% dell'Header, cioè 0.25*600px=150px*/
    width: 20%;        /*20% dell'Header*/
    padding: 0;
}

#logo img {
    width: 100%;                       /*100% della larghezza del blocco logo*/
    height: 100%;                      /*100% dell'altezza del blocco logo, cioè 150px*/
}

section {
    height: 1700px;
    width: 100%;                       /*100% della larghezza del Body*/
    font-family: 'Abel', sans-serif;
    font-size: 1em;                    /*1em=30px*/
    color: rgba(9, 5, 202, 0.973);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.banner {
    height: 90%;
    width: 15%;
    border: 2px solid blue;
    margin: 0px 4px;
    color: black;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container div {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    text-align: center;
    font-size: 0.50em;
}

#container div span {
    margin: 5px 0;
}

#container div span.bold {
    font-weight: bold;
}

#container div img {
    height: 40%;
    width: 100%;
}

.griglia {
    height: 90%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

@media(max-width: 500px){
    .griglia {
        height: 95%;
        flex-direction: column;
        flex-wrap: nowrap;
    }

}

.griglia div {
    height: min-content;
    width: 45%;
    text-align: center;
    background-color: red;
    position:relative;
}

@media(max-width: 500px){
    .griglia div {
        width: 100%;
    }
}

div img {
    margin-top: 3px;
    width: 98%;
    height: 250px;
}

@media(max-width:500px){
    div img {
        height: 150px;
    }
}

#nutrition div {
    margin-top: 30px;
}

#nutrition div a {
    color: rgba(9, 5, 202, 0.973);
    text-decoration: underline;
    cursor: pointer;
}

.star {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 5px;
    top: 278px;
    background-image: url("STAR_UNSELECTED.png");
    background-size: cover;
    border: none;
    cursor: pointer;
}

@media(max-width:500px){
    .star {
        height: 20px;
        width: 20px;
        top:170px;
    }
}

.selected {
    position: absolute;
    height: 20px;
    width: 20px;
    top:178px;
    right:4px;
    background-image: url("STAR_SELECTED.png");
    background-size: cover;
    border: none;
    cursor: pointer;
}

@media(max-width:500px){
    .selected {
        height: 10px;
        width: 10px;
        top:66px;
        right:3px;
    }
}

.dettagli_più {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.dettagli_meno {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.griglia div h1{
    text-align: center;
    height: min-content;
    margin-top:5px;
    margin-bottom: 10px;
}

.griglia div div {
    text-align: center;
    height: min-content;
    width: 100%;
}

.hidden {
    display: none;
}

.mostra {
    display: block;
}

.preferiti {
    border: 3px solid black;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    width: 99.5%;
}

@media(max-width: 500px){
    .preferiti{
        height: 150px;
        width: 98%;
    }
}

#preferences div {
    width: 16%;
    height: 80%;
    background-color: red;
    text-align: center;
    position: relative;
    margin: 10px 5px;
}

@media(max-width: 500px){
    #preferences div {
        height: 60%;
    }
}

#preferences div img{
    width: 95%;
    height: 60%;
}

#preferences div h1 {
    margin-top:15px;
    font-size: 1em;
}

@media(max-width: 500px){
    #preferences div h1 {
        margin-top:4px;
        font-size: 0.6em;
    }
}

.intestazione {
    margin-top: 30px;
    margin-bottom: 10px;
    margin: 10px 5px;
}

#cerca {
    font-size: 0.5em;
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
}

footer {
    height: 165px;
    background-color: black;
    color: white;
    font-family: 'Sine Mono', monospace;
    font-size: .8em;                      /*.8em=0.8*30px=24px*/
}

footer div.info {
    margin-top: 5px;
    margin-bottom: 10px;
}

#firma {
    color: rgb(187, 7, 7);
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    margin-top:65px;
    margin-bottom: 0;
}

#menu {
    position: fixed;
    top: 10px;
    right: 15px;
    display: none;
    background-color: lightgrey;
    border-radius: 5px;
}

#menu div{
    background-color: black;
    width: 25px;
    height: 3px;
    margin: 5px 0;
}

@media(max-width: 500px) {
    header nav{
        display: none;
    }

    #menu {
        display: block;
    }
}

#menu:hover {
    background-color: red;
}



